/*!
Theme Name: allflex
Theme URI: https://oskarsandersons.com
Author: Oskars Andersons
Author URI: https://oskarsandersons.com
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: allflex
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

allflex is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */
:root {
    --prim-blue:#005587;
    --sec-blue:#009cde;
    --light-blue:#bee9e8;
    --violet:#5c3161;
    --dark:#00171f;
	font-size:16px;
}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;

}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
	display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 82px;
	font-weight: 300;
	margin: 25px 0;
}
h1.entry-title{
	font-size: 62px;
	font-weight: 300;
}
h2 {
	font-size: 26px;
	color:#263642;
	font-weight: normal;
}
h3 {
	font-size:22px;
	color:#263642;
	font-weight: normal;
}
h5.entry-text{
	font-size: 22px;
	line-height: 1.58333;
	padding-bottom: 35px;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
    text-decoration: none;
    color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
    outline: none;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Source Sans Pro";
	clear: both;
}

p {
	margin-bottom: 25px;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	quotes: none;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", courier, monospace;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	background: #f4f4f4;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul {
	list-style: none;
	padding-left: 0;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 0.75rem;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}
button:focus{
	outline: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a:hover,
a:active {
	outline: 0;
	text-decoration: none;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/


.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
	flex-direction:column;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	position: relative;
}



/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
.menu-toggle{
	position: absolute;
    z-index: 9999;
    top: 20px;
    right: 15px;
    border: 0;
    height: 33px;
    background: 0 0;
}
.menu-toggle .mn-icon {
    position: relative;
    display: block;
    width: 32px;
    height: 10px;
    margin: auto;
}
.menu-toggle .mn-icon .mn-line {
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    opacity: 1;
    border-radius: 10px;
    background: #005587;
}
.menu-toggle .mn-icon .mn-line:nth-child(1) {
    top: 0;
}
.menu-toggle .mn-icon .mn-line:nth-child(2) {
    top: 10px;
}
.menu-toggle .mn-icon .mn-line:nth-child(3) {
    top: 10px;
}
.menu-toggle .mn-icon .mn-line:nth-child(4) {
    top: 20px;
}
.main-navigation.toggled .menu-toggle .mn-icon .mn-line:nth-child(1) {
    width: 0;
}
.main-navigation.toggled .menu-toggle .mn-icon .mn-line:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100%;
}
.main-navigation.toggled .menu-toggle .mn-icon .mn-line:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 100%;
}
.main-navigation.toggled .menu-toggle .mn-icon .mn-line:nth-child(4) {
    width: 0;
}
.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
	padding: 0 15px;;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}
.post-navigation a {
    display: -webkit-inline-box;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    font-size: 70px;
    font-weight: 700;
    color: #009ada;
}
.post-navigation a:hover {
    color: #fff;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
	position: absolute;
	left: 0;
	top: 50%;
    transform: translateY(-50%);
	color: #009ada;
	padding:0 15px;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
	position: absolute;
	right: 0;
	top: 50%;
    transform: translateY(-50%);
	color: #009ada;
	padding:0 15px;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.post {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1em 0 0;
	color:#263642;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/* Individual */
@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.ttf");
    font-weight: normal;
    }
@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-SemiBold.ttf");
    font-weight: bold;
    }
@font-face {
    font-family: "Source Sans Pro";
    src: url("./fonts/SourceSansPro-Regular.ttf");
    font-weight: normal;
    }
@font-face {
    font-family: "Source Sans Pro";
    src: url("./fonts/SourceSansPro-Bold.ttf");
    font-weight: bold;
    }
/* source-sans-pro-300 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/SourceSansPro-Light.ttf');
}
@font-face {
	font-family: "icomoon";
    src: url("./fonts/icomoon.ttf");
}
body{
	font-family: 'Source Sans Pro', sans-serif;
}
.top-strip{
	font-family: Montserrat, sans-serif;
    position: relative;
    z-index: 99;
    text-align: right;
    background: var(--prim-blue);
}
.top-strip span{
	color:white;
	font-size: 14px;
}
.top-strip a{
	display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 37px;
	color: var(--sec-blue);
	font-size: 14px;
	text-decoration: underline;
}
.top-strip a:hover{
	color: #D906FF;
}
#masthead{
	font-family: Montserrat, sans-serif;
	-webkit-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    z-index: 98;
    top: 34px;
    width: 100%;
    height: 108px;
    padding-top: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
#masthead.sticky-top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: #fff;
    -webkit-box-shadow: 0 1px 5px 0 #e4e4e4;
    box-shadow: 0 1px 5px 0 #e4e4e4;
}
.site-branding img {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    max-width: 100%;
}
.sticky-top .site-branding img{
	height: 50px;
	width: auto;
}
.site-footer {
    height: 325px;
    margin-top: 120px;
    padding: 75px 0 40px;
    background-image: url('img/fons.jpg');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color:#e4e0dc;
    color: #fff;
}
.site-footer a{
	color:#000;
	font-weight: bold;
}
.email{
	margin-right: 35px;
}
.footer-image{
    padding-bottom: 42px;
}
#menu-footer-menu{
	list-style: disc;
	color:#d906ff;
    margin: 0;
    padding: 0;
    display: flex;
}
#menu-footer-menu li{
	margin-right: 35px;
}
.social h2.widgettitle{
	display: none;
}
.social a{
	color:#d906ff;
	font-size: 22px;
    margin-right: 20px;
}
.row-copyright{
	color:#d906ff;
}
.spacer{
	height: 110px;
}
.section-hero-slider{
	position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: -100px;
    height: 900px;
}
.home .section-hero-slider{
	height: calc(100vh - 34px);
	margin-top: 0;
}
.section-hero-slider .one-image {
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
    position: relative;
}
.section-hero-slider h2{ 
	font-size: 50px;
	color:white;
 }
.container{
 	max-width: 1200px;
 }
.one-image .container{
	height: 100%;
}
.one-image h1,.one-image h1.entry-title {
    font-size: 62px;
    font-weight: 300;
	color:white;
}
.one-image .col-lg-6 img{
	padding-top: 30vh;
}
.scroll-to-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 194px;
    height: 43px;
    margin: auto;
    text-align: center;
}
.scroll-to-bottom .btn-scroll-to-bottom {
    width: 194px;
    height: 43px;
    background-color: transparent;
    background-image: url(img/sprite.png);
    background-position: -3px -253px;
    border: 0;
}
.main-navigation{
	display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    padding-bottom: 3px;
}
.main-navigation li:after{
	position: absolute;
    top: 3px;
    right: 0;
    display: inline-block;
    width: 1px;
    height: 18px;
    content: '';
    background: #a4afb9;
}
.main-navigation li:last-child:after{
	display: none;
}
.main-navigation li:last-child a{
	padding-right: 0;
}
.main-navigation a {
	-webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    font-size: 21px;
    font-weight: 600;
    display: block;
    padding: 0 22px;
    color: #263642;
    line-height: 1;
}
.main-navigation .current-menu-item a {
    color: var(--sec-blue);
}
.main-navigation a:hover{
	color: var(--sec-blue);
}
.entry-text{
	display: block;
}
.btn {
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    display: -webkit-inline-box;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}
.btn.btn-blue-text {
    color: #009cde;
    background: 0 0;
}
.btn.btn-blue-text:before {
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    font-size: 18px;
    display: block;
    margin-right: 12px;
    margin-bottom: 4px;
    content: '\2192';
}
.home .entry-content{
	margin-bottom: 150px;
}
.section-cubes {
	background-image: url('img/section-cubes.jpg');
	min-height: 1065px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.section-cubes .item {
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    height: 515px;
    margin-top: -80px;
    padding: 30px;
    text-align: center;
    border-radius: 14px;
    background: #fff;
    -webkit-box-shadow: 9px 9px 43px 0 rgba(72, 127, 115, 0.2);
    box-shadow: 9px 9px 43px 0 rgba(72, 127, 115, 0.2);
}
.section-cubes .item .entry-image {
    height: 100px;
}
.section-cubes .item .entry-title {
    margin-bottom: 20px;
}
.section-cubes .item .title-purple {
    font-weight: 400;
}
.title-purple {
    font-size: 27px;
    font-weight: 700;
    color: #5c3161;
}
.section-cubes .item .entry-text {
    line-height: 24px;
    color: #00171f;
}
.section-solutions{
	margin: -401px 0 190px;
}
.entry-title.after-blue {
    font-size: 48px;
    margin-bottom: 50px;
    font-weight: 300;
    text-align: center;
    color: #263642;
}
.entry-title.after-blue:after {
    display: block;
    width: 50px;
    height: 4px;
    margin: 30px auto 0;
    content: '';
    background: #009cde;
}
.byline,.posted-on{
	color: #009cde;
}
.section-solutions .after-blue {
    margin-bottom: 0;
    color: #fff;
}
.section-solutions .slide {
    padding: 60px 15px;
    cursor: pointer;
}
.section-solutions .item{
	-webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    display: block;
    text-align: center;
    border-radius: 14px;
    background-color: transparent;
    -webkit-box-shadow: 4px 6px 13px 0 rgba(72, 127, 115, 0.2);
    box-shadow: 4px 6px 13px 0 rgba(72, 127, 115, 0.2);
}
.section-solutions .item .entry-image {
    overflow: hidden;
    height: 250px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.section-solutions .item .entry-image img {
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 100%;
    height: 100%;
}
.section-solutions .item .entry-footer{
	display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    height: 260px;
    padding: 30px 20px 50px;
    background: #fff;
}
.section-solutions .item .entry-footer .entry-title {
    font-size: 24px;
    color: #5c3161;
}
.section-solutions .item .entry-footer .entry-text {
    line-height: 24px;
}
.section-solutions .item .entry-footer .btn-blue-text {
    margin-top: auto;
}
.section-solutions .slide .item:hover {
    -webkit-box-shadow: 4px 6px 13px 0 rgba(72, 127, 115, 0.5);
    box-shadow: 4px 6px 13px 0 rgba(72, 127, 115, 0.5);
}
.section-solutions .item:hover .entry-image img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}
.slide .item:hover .btn-blue-text:before {
    -webkit-animation: arrows-animation 1s 3;
    animation: arrows-animation 1s 3;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: arrows-animation;
}
@keyframes arrows-animation {
    to {
        @include translate(10px, 5px);
        opacity: 0;
    }
}

.error-404{
	background-image: url('img/404.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}
.error404 .site-footer,.page-template-our-story .site-footer{
	margin-top: 0;
}

.section-video-modal{
	background-image: url('img/section-video.jpg');
	background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#breadcrumbs{
	font-family: Montserrat;
    font-size: 11px;
    margin: 0 -4px 80px;
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: bold;
}
#breadcrumbs span span a{
	padding-bottom: 5px;
}
#breadcrumbs span span a:first-child{
	border-bottom: 1px solid #31aee2;
}
#breadcrumbs span{
	color: #6d6d6d;
}
.page-template-solutions #breadcrumbs{
	margin-bottom: 40px;
}
.section-textual .entry-header .entry-title {
    font-size: 27px;
    font-weight: 700;
    color: #5c3161;
}
.section-textual .entry-header .entry-text {
    font-size: 48px;
    line-height: 1.125;
    font-weight: 300;
    padding-bottom: 35px;
    color: #00171f;
}
.section-textual .entry-header {
    margin-bottom: 25px;
}
.section-textual .entry-header:after {
    display: block;
    width: 50px;
    height: 4px;
    content: '';
    background: #009cde;
}
.section-textual .images {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    margin: 0 -10px;
}
.section-textual .images .entry-image {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    overflow: hidden;
    width: 220px;
    height: 270px;
    border-radius: 14px;
    background: #fff;
}
.section-textual {
    padding-bottom: 120px;
}
.section-textual .images .col-image {
    margin-bottom: 20px;
    padding: 0 10px;
}
.entry-content h4 {
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
    color: #5c3161;
    font-size: 27px;
}
.entry-content ul {
    margin-bottom: 30px;
}
.entry-content ul li {
    position: relative;	
    line-height: 1.5;
    margin-bottom: 10px;
    padding-left: 25px;
}
.entry-content ul li:before {
    position: absolute;
    top: 7px;
    left: 0;
    display: block;
    width: 17px;
    height: 12px;
    content: '';
    background-image: url('img/sprite.png');
    background-position: -247px -28px;
}
.thumb-up-message {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    color: #00171f;
}
.thumb-up-message img {
    flex: 1 0 62px;
    -webkit-flex: 1 0 62px;
    -ms-flex: 1 0 62px;
    -webkit-box-flex: 1 0 62px;
    -moz-box-flex: 1 0 62px;
    -moz-flex: 1 0 62px;
    height: 62px;
    margin-right: 40px;
}
.thumb-up-message a{
	text-decoration:underline;
}
.section-pdf {
    background-color: #009cde;
    padding: 42px 0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, rgba(0, 85, 135, 0)), color-stop(200%, #08324b));
    background-image: linear-gradient(to bottom, rgba(0, 85, 135, 0) 40%, #08324b 200%);
}
.section-pdf h3.large-title {
    font-size: 42px;
    text-align: center;
    font-family: "Source Sans Pro";
    font-weight: 300;
    color: #fff;
    margin-bottom: 40px;
}
.section-pdf .download-wrapper {
    text-align: center;
}
.section-pdf .download-wrapper a {
    background: 0 0;
    border-radius: 0;
    padding: 0 10px;
}
.section-pdf .download-wrapper a span {
    display: inline-block;
    margin-left: 20px;
    position: relative;
}
.section-pdf .download-wrapper a img {
    margin-right: 20px;
}
.section-pdf .download-wrapper .btn.btn-blue-text:before {
    color: #fff;
    margin-right: 0;
    margin-left: 15px;
}
.btn.btn-blue {
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    height: 53px;
    padding: 0 30px;
    letter-spacing: 3px;
    color: #fff;
    border-radius: 30px;
    background: #018cc1;
}
.section-pdf .download-wrapper a:nth-child(2) {
    border-left: 1px solid #016a99;
    border-right: 1px solid #016a99;
}
.section-pdf a:last-child {
    border-right: 0 !important;
}
.section-video-modal {
    height: 940px;
    padding-top: 130px;
    text-align: center;
    background-position: center;
    background-size: cover;
}
.section-video-modal a {
    position: relative;
    display: inline-block;
}
.icon-play-l {
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 118px;
    height: 118px;
    padding-top: 26px;
    padding-left: 40px;
    border-radius: 50%;
    background: #009ada;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.icon-play-l:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    content: '';
    border-top: 32.5px solid transparent;
    border-bottom: 32.5px solid transparent;
    border-left: 47px solid #fff;
}
.section-video-modal a .entry-image img {
    border-radius: 14px;
}
.page-template-solutions .item-post .entry-footer{
	border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}
.page-template-solutions .section-solutions {
    margin: -225px 0 0px;
}
.page-template-solutions .item-post img{
	object-fit: cover;
}
.page-template-solutions .item:hover .entry-image img {
    -webkit-transform: none;
    transform: none;
}
.wpforms-form input[type=text],.wpforms-form input[type=email] {
    height: 33px;
    padding: 0;
    color: #7b7c7c;
    border: none;
    border-bottom: 1px solid #666668;
    background-color: transparent;
}
.wpforms-form textarea {
    height: 33px;
    padding: 0;
    color: #7b7c7c;
    border: none;
    border-bottom: 1px solid #666668;
    background-color: transparent;
    height: 130px;
}
.wpforms-form ul li:before{
	display: none;
}
.wpforms-form .btn.btn-blue{
	width: 100%;
	margin-top: 25px;
}

/* Archive for posts */
.blog-item, .blog-item-featured-post .col-image {
    height: 530px;
}
.blog-item-post {
    margin-bottom: 70px;
}
.blog-item-post .post-thumbnail {
    overflow: hidden;
    border-radius: 14px 14px 0 0;
}
.blog-item-post .post-thumbnail img {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    width: 100%;
    max-width: 100%;
}
.blog-item-post .entry-footer {
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    height: 280px;
    padding: 30px 30px 35px;
}
.blog-item-post .post-category {
    font-size: 14px;
    margin-bottom: 15px;
    color: #009cde;
}
.blog-item-post .entry-title {
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 15px;
    color: #5c3161;
}
.blog-item-post .entry-excerpt {
    line-height: 24px;
    margin-bottom: 30px;
    color: #00171f;
}
.blog-item-post .entry-footer .btn-blue-text {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    margin-top: auto;
}
.blog-item-post:hover .post-thumbnail img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn-scroll-to-top {
    position: fixed;
    right: 50px;
    border:none;
    outline: none!important;
    bottom: 100px;
    display: none;
    width: 49px;
    height: 49px;
    background-color: transparent;
    background-image: url(img/sprite.png);
    background-position: -136px -2px;
}

.one-image .search-form [type=search] {
    font-size: 18px;
    height: 60px;
    padding: 0 70px 0 35px;
    border: 2px solid #bee9e8;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.89);
}
.one-image .search-form .search-submit{
	top: 0px;
    width: 28px;
    height: 29px;
    border: 0;
    background: transparent;
    color: transparent;
    background-position: -204px -2px;
    position: relative;
    display: inline-block;
    background-image: url(img/sprite.png);
    background-repeat: no-repeat;
    right: 50px;
}
.main-navigation ul ul {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    position: absolute;
    top: calc(100% + 19px);
    visibility: hidden;
    padding: 40px 50px;
    white-space: nowrap;
    opacity: 0;
    border-radius: 5px;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
}
.main-navigation ul > li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}
ul.sub-menu li {
    font-weight: 600;
    position: relative;
    width: 195px;
    padding-left: 20px;
    border-bottom: 1px solid #ced6de;
}
ul.sub-menu li:after{
	display:none;
}
ul.sub-menu:before {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 19px;
    content: '';
    background: 0 0;
}
ul.sub-menu li a:before {
    font-family: FontAwesome;
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 0;
    margin-right: 8px;
    content: '\f054';
    color: #009ada;
}
ul.sub-menu li a {
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    font-size: 16px;
    line-height: 1.3;
    display: block;
    padding: 8px 0;
    white-space: normal;
    color: #263642;
}
.pgafu-filter li a{
	display: -webkit-inline-box;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    font-size: 16px;
    height: 53px;
    padding: 0 20px;
    letter-spacing: 3.84px;
    text-transform: uppercase;
    color: #046393; 
    border-radius: 27px;
    background-color: #f4f4f4;
}
.pgafu-filter li.pgafu-active-filtr a{
    color: #fff;
    border: 1px solid #046393;
    border-radius: 27px;
    background: none;
    background-color: #018cc1;
}
.pgafu-post-grid-content{
	height: 490px;
	margin-bottom: 70px;
	background-color: inherit!important;
	position: relative;
}
.pgafu-post-grid-content img{
	-webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.pgafu-post-grid-content:hover img{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.pgafu-post-image-bg{
	border-radius: 14px 14px 0 0;
}
.pgafu-post-grid-main h2{
	text-align: left;
}
.pgafu-post-grid-main h2.pgafu-post-title a{
	font-size: 27px!important;
    line-height: 30px!important;
    margin-bottom: 15px!important;
    color: #5c3161!important;
}
.pgafu-post-content a.btn{
	position: absolute;
	bottom: 0;
}
.pgafu-post-short-content{
	text-align: left;
	padding:5px 15px;
}
.pgafu-post-grid-main.pgafu-design-1 .pgafu-post-content{
	text-align: left;
}
.entry-content ul.pgafu-filter li:before{
	display: none;
}
.pgafu-post-categories a{
	font-size: 14px;
    margin-bottom: 15px;
    color: #009cde!important;
    text-transform: none;
    background-color: inherit!important;
    padding-left: 15px;
    margin-bottom: 0px;
}
.pgafu-post-categories a:hover{
	background-color: inherit;
}
.hero-half .half-bg{
	height: 100%;
	width: 100%;
	z-index: -1;
	position: absolute;
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin:0;
}
.hero-half .half-image{
	background-size: cover;
}
.hero-half .container{
	height: 100%;
    display: flex;
    align-items: center;
}
.hero-half h1{
	font-size: 50px;
    font-weight: 300;
    line-height: 60px;
    margin-bottom: 35px;
}
.hero-half h5{
    font-size: 22px;
    line-height: 38px;
    overflow: hidden;
    max-height: 420px;
    margin-bottom: 45px;
}
.big-banner {
	font-size: 21px;
	padding: 75px 0;
	color:white;
	background-image: url('img/big-banner.png');
	background-size: cover;
    background-position: bottom;
}
.big-banner h1{
	font-size:48px;
	position: relative;
	font-weight: 300;
	color:white;
	line-height: 2;
}
.big-banner h1:after{
	position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 49px;
    height: 4px;
    content: '';
    background: #fff;
}
.big-banner h2{
	color:white;
	font-weight: bold;
	font-size:48px;
}
.single-post h1.entry-title {
	max-width: 470px;
	font-size: 50px;
	font-weight: 500;
	color: #263642;
}
.single-post h5.entry-subtitle{
	max-width: 470px;
	font-size: 24px;
    line-height: 38px;
    color: #263642;
}
.single-post .entry-meta h2{
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    color: #263642;
    margin-top: 30px;
}
.single-post .entry-meta h2:after {
    display: block;
    width: 50px;
    height: 4px;
    margin: 50px 0;
    content: '';
    background: #009cde;
}
.single-post .one-image .container .row{
	flex-direction:column;
	width: 100%;
}
.single-klienti .section-solutions{
	margin: 0;
	padding-top: 50px;
}
.single-klienti .section-solutions .after-blue{
	color:#263642;
}

.single-klienti .section-testimonial{
	margin-bottom: 90px
}
.cols{
	display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
.single-klienti .section-testimonial .cols{
	padding-left: 65px;
	margin-right: -15px;
    margin-left: -15px;
}
.single-klienti .section-testimonial .cols .col-icon{
	flex: 0 0 62px;
    -webkit-flex: 0 0 62px;
    -ms-flex: 0 0 62px;
    -webkit-box-flex: 0 0 62px;
    -moz-box-flex: 0 0 62px;
    -moz-flex: 0 0 62px;
    margin-right: 40px;
    padding-top: 60px;
}
.sprite{
	display: -webkit-inline-box;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    position: relative;
    display: inline-block;
    background-image: url(img/sprite.png);
    background-repeat: no-repeat;
}
.sprite.sprite-quote{
	width: 62px;
    height: 62px;
    background-position: -233px -234px;
}
.single-klienti .section-testimonial .cols .col-content .blockquote p{
	font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    margin-bottom: 30px;
    letter-spacing: -.6px;
    color: #263642;
}
.single-klienti .section-testimonial .cols .col-content .blockquote .cite{
	font-size: 27px;
    font-weight: 700;
    color: #263642;
}
.single-klienti #breadcrumbs{
	margin-bottom: 40px;
}
.single-klienti .section-testimonial .cols .col-content .blockquote .cite .entry-text:before {
    display: inline-block;
    width: 50px;
    height: 4px;
    margin-right: 20px;
    content: '';
    background: #009cde;
}
.single-klienti .section-challenges {
    margin-bottom: 100px;
}
.single-klienti .section-challenges .item {
    height: 385px;
    padding: 25px;
    text-align: center;
    color: #fff;
    border-radius: 14px;
}
.single-klienti .section-challenges .item .entry-image{
	display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    height: 150px;
    margin-bottom: 25px;
}
.single-klienti .section-challenges .item .entry-title {
    font-size: 27px;
}
.single-klienti .section-challenges .item .entry-text {
    line-height: 24px;
}

.icomoon {
    font-family: 'Icomoon';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icomoon-arrow-left:before {
    content: '\e909';
}
.icomoon-arrow-right:before {
    content: '\e90a';
}