/*!
Theme Name: allflex
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: allflex
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

allflex is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/* ---- Laptop ----- */
@media only screen and (max-width: 1400px){
	h1.entry-title{
		font-size:50px;
	}
	.section-hero-slider h2{
		font-size:36px;
	}
	.entry-title.after-blue{
		font-size: 32px;
	}
	.one-image img{
		flex: 1;
	    -webkit-flex: 1;
	    -ms-flex: 1;
	    -webkit-box-flex: 1;
	    -moz-box-flex: 1;
	    -moz-flex: 1;
	    display: -webkit-box;
	    display: -moz-flex;
	    display: -ms-flexbox;
	    display: flex;
	    justify-content: center;
	    -webkit-justify-content: center;
	    -moz-justify-content: center;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    padding-top: 225px;
	    padding-right: 70px;
	}
}
@media only screen and (max-width: 1200px){
	.section-cubes .item{
		height:600px;
	}
}
/* ---- Tablet Horizontal ----- */
@media only screen and (max-width: 991px){
	.single-post h5.entry-subtitle{
		display:none;
	}
	#breadcrumbs {
	    margin-bottom: 0;
	}
	.one-image img{
		padding: 0!important;
		max-height: 250px;
		width: auto;
	}
	h1.entry-title{
		text-align: center!important;
		font-size: 24px;
	}
	.section-hero-slider h2{
		font-size:28px;
	}
	.one-image .entry-text{
		display: none;
	}
	.main-navigation li:after{
		display: none;
	}
	.main-navigation.toggled .menu-main-menu-container{
		position: absolute;
	    left: 0;
	    top: 107px;
	    background: white;
        width: 100%;
		height: 82vh;
	}
	.site-header.sticky-top .main-navigation.toggled .menu-main-menu-container{
		top:75px;
	}
	.main-navigation li{
		padding: 12px 15px;
	}
	.main-navigation a{
		padding:0;
		font-size: 18px;
	}
	.main-navigation ul ul{
		opacity: 1;
		visibility: visible;
		background:transparent;
		position: static;
		float: none;
		box-shadow:none;
		padding: 0;
	}
	.main-navigation ul.sub-menu li{
		padding-bottom:5px;
		padding-left: 30px;
	}
	ul.sub-menu li a:before{
		top:20px;
		left:10px;
	}
	.home .entry-content{
		margin-bottom: 50px;
	}
	.section-cubes{
		padding: 50px 0;
	}
	.section-cubes .item{
		height: auto;
	    margin-top: 0;
	    margin-bottom: 25px;
	}
	.section-solutions{
		margin:0;
		padding-top: 70px;
	}
	.section-solutions h2.after-blue{
		color: #009cde;
	}
	.site-info .row{
    	align-items: center;
	}
	.site-info aside{
		margin:0 auto;
	}
	.row-copyright{
		justify-content: center;
	}
	.section-solutions .item .entry-footer .entry-text {
    	line-height: 18px;
	}
	.section-solutions .item .entry-footer{
		padding: 30px 10px 30px;
	}
	.site-footer{
		background-size: contain;
		padding: 40px 0;
	}
	.section-hero-slider .one-image{
		background-size: cover;
	}	
	.section-textual .entry-header .entry-text{
		font-size: 26px;
	}
}

@media screen and (min-width: 992px) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}

}

/* ---- Tablet Vertical ----- */
@media only screen and (max-width: 767px){
	.single-post .entry-meta h2{	
		font-size: 28px;
		line-height: 1.2;
	}
	.single-post h1.entry-title {
		font-size: 36px;
		line-height: 1.15;
	}
	.footer-image{
		padding-bottom:0;
		text-align:center;
	}
	.section-pdf .download-wrapper a:nth-child(2){
		border:0!important;
	}
	.reverse-it{
		flex-direction: column-reverse;
	}
	.single-klienti .section-challenges .col-lg-4{
		padding:0;
	}
	.single-klienti .section-testimonial{
		margin-bottom: 40px;
	}
	.single-klienti .section-challenges{
		margin-bottom: 40px;
	}
	.single-klienti .section-challenges .item{
		margin-bottom: 20px;
	}
	.single-klienti .section-testimonial .cols{
		padding-left: 0;
	}
	.single-klienti .section-testimonial .cols .col-icon {
	    margin-right: 20px;
	    padding-top: 25px;
	}
	.single-klienti .section-testimonial .cols .col-content .blockquote p{
		font-size: 22px;
    	line-height: 1.2;
	}
	.single-klienti .section-testimonial .cols .col-content .blockquote .cite {
	    font-size: 16px;
	}
	.hero-half h1{
		font-size: 42px;
		font-weight: 400;
		color: #fff;
		text-align: center;
	}
	.hero-half h5,.hero-half p{
		display: none;
	}
	.btn-scroll-to-top{
		right: 30px;
		bottom:30px;
	}
	.section-hero-slider{
	    height: 600px;
	    margin-top: 0;
	}
	.big-banner{
		padding: 20px 0;
	}
	.big-banner h1{
		font-size:36px;
	}
	.big-banner h2{
		font-size:32px;
	}
	.section-solutions .item .entry-image{
		height: auto;
	}
	.section-video-modal{
		padding:20px 0;
		 margin-bottom: 50px;
		 height: auto;
	}
	.page-template-solutions .section-solutions{
		margin-top: 0;
	}
	.section-solutions .after-blue{
		color: #009cde;
		font-size: 32px;
	}
	.half-bg .bg-white{
		display: none;
	}
	.section-solutions .slide{
		padding-bottom: 0;
	}
	.icon-play-l {
	    width: 50px;
	    height: 50px;
	}
	.icon-play-l:after {
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    margin: auto;
	    content: '';
	    border-top: 9.5px solid transparent;
	    border-bottom: 9.5px solid transparent;
	    border-left: 14px solid #fff;
	}
}
/* ---- Mobile ----- */
@media only screen and (max-width: 480px){
	h1{
		font-size: 62px;
	}
	.btn.btn-blue{
		height: auto;
	}
	.wpforms-form .btn.btn-blue{
		height: 53px;
	}
	.section-pdf .download-wrapper a span{
		margin-bottom: 10px;
		line-height: 1.2;
	}
	.section-textual .images .entry-image{
		width: auto;
		height: auto;
	}
	.thumb-up-message p{
		font-size: 28px;
	}
	.thumb-up-message img{
		margin-right: 25px;
	}
	.site-footer a{
		font-size: 14px;
	}
	#menu-footer-menu li{
		margin-right: 22px;
	}
	#menu-footer-menu li:last-child{
		margin-right: 0;
	}
	.row-copyright{
		font-size: 12px;
	}
}